In [16]:
import pandas as pd
import os

df = pd.read_csv("insurance_claims_clean.csv")
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,YES
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,NO,5070,780,780,3510,Mercedes,E400,2007,YES
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,NO
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,YES
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,1,NO,87200,17440,8720,61040,Honda,Accord,2006,NO
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,3,NO,108480,18080,18080,72320,Volkswagen,Passat,2015,NO
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,3,YES,67500,7500,7500,52500,Suburu,Impreza,1996,NO
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,1,YES,46980,5220,5220,36540,Audi,A5,1998,NO
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,3,NO,5060,460,920,3680,Mercedes,E400,2007,NO

In [17]:
# Los nombres en el CSV son diferentes a los del modelo
duplicate_groups = df.groupby([
    'months_as_customer',    # ‚úÖ Correcto
    'age',                    # ‚úÖ Correcto
    'insured_sex',           # ‚ùå NO es 'sex', es 'insured_sex'
    'insured_education_level', # ‚ùå NO es 'education_level'
    'insured_occupation',     # ‚ùå NO es 'occupation'
    'insured_hobbies',        # ‚ùå NO es 'hobbies'
    'insured_relationship',   # ‚ùå NO es 'relationships'
    'insured_zip'            # ‚ùå NO es 'zip_code'
]).size()

print(f"Unique insureds: {len(duplicate_groups)}")
print(f"Insureds that appear more than once: {(duplicate_groups > 1).sum()}")
print(f"Total rows: {len(df)}")

Unique insureds: 1000
Insureds that appear more than once: 0
Total rows: 1000

In [18]:
import pandas as pd

df = pd.read_csv("insurance_claims_clean.csv")

# Based on your get_or_create_insured logic in add_data.py
# Your code uses: age, sex, education_level, occupation, zip_code
insured_duplicates = df.groupby([
    'age',                    # Matching field
    'insured_sex',           # Matching field (not hobbies/relationships!)
    'insured_education_level', # Matching field
    'insured_occupation',     # Matching field
    'insured_zip'            # Matching field (NOT months_as_customer!)
]).size()

print("üîç DUPLICATE ANALYSIS")
print("=" * 50)

print(f"\nüìä INSURED:")
print(f"Total rows: {len(df)}")
print(f"Unique insureds: {len(insured_duplicates)}")
print(f"Insureds appearing more than once: {(insured_duplicates > 1).sum()}")

if (insured_duplicates > 1).sum() > 0:
    print("\nDuplicated insureds:")
    print(insured_duplicates[insured_duplicates > 1].sort_values(ascending=False))

# POLICY duplicates
policy_duplicates = df.groupby('policy_number').size()
print(f"\nüìä POLICY:")
print(f"Unique policies: {len(policy_duplicates)}")
print(f"Policies appearing more than once: {(policy_duplicates > 1).sum()}")

if (policy_duplicates > 1).sum() > 0:
    print("Duplicated policies:")
    print(policy_duplicates[policy_duplicates > 1].sort_values(ascending=False))

# VEHICLE duplicates
vehicle_duplicates = df.groupby(['auto_make', 'auto_model', 'auto_year']).size()
print(f"\nüìä VEHICLE:")
print(f"Unique vehicles: {len(vehicle_duplicates)}")
print(f"Vehicles appearing more than once: {(vehicle_duplicates > 1).sum()}")

if (vehicle_duplicates > 1).sum() > 0:
    print("Vehicles appearing more than once:")
    print(vehicle_duplicates[vehicle_duplicates > 1].sort_values(ascending=False))

print("\n" + "=" * 50)
print("SUMMARY:")
print(f"Cases: 1000 (each row is unique)")
print(f"Incidents: 1000 (one per case)")
print(f"Claims: 1000 (one per case)")

üîç DUPLICATE ANALYSIS
==================================================

üìä INSURED:
Total rows: 1000
Unique insureds: 1000
Insureds appearing more than once: 0

üìä POLICY:
Unique policies: 1000
Policies appearing more than once: 0

üìä VEHICLE:
Unique vehicles: 564
Vehicles appearing more than once: 279
Vehicles appearing more than once:
auto_make  auto_model  auto_year
Jeep       Wrangler    2010         6
Saab       95          1999         6
           92x         1998         5
Toyota     Corolla     2005         5
Dodge      RAM         1999         5
                                   ..
Mercedes   C300        2000         2
                       2009         2
Chevrolet  Silverado   2013         2
                       2008         2
Audi       A5          2002         2
Length: 279, dtype: int64

==================================================
SUMMARY:
Cases: 1000 (each row is unique)
Incidents: 1000 (one per case)
Claims: 1000 (one per case)

In [19]:
# check for frauds
df[df['fraud_reported'] == 'YES']

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,YES
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,NO,5070,780,780,3510,Mercedes,E400,2007,YES
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,YES
5,256,39,104594,2006-10-12,OH,250/500,1000,1351.10,0,478456,...,2,NO,64100,6410,6410,51280,Saab,95,2003,YES
14,180,38,644081,1998-12-28,OH,250/500,2000,1301.13,0,476685,...,2,YES,46200,4200,8400,33600,Dodge,Neon,2003,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,234,41,291006,1990-05-16,IN,100/300,500,951.56,0,455426,...,1,NO,98280,15120,7560,75600,Chevrolet,Tahoe,2007,YES
977,266,42,929306,2003-03-06,IN,100/300,500,1093.83,4000000,468454,...,1,NO,53280,4440,8880,39960,Suburu,Impreza,2015,YES
982,230,43,490514,2007-02-09,IN,500/1000,2000,1101.83,0,451529,...,3,YES,51900,5190,10380,36330,BMW,M5,2011,YES
986,232,42,182953,2013-04-30,IN,100/300,500,944.03,0,440153,...,3,NO,77000,15400,7700,53900,Toyota,Highlander,2015,YES
987,235,39,836349,2013-05-01,IL,500/1000,2000,1453.61,4000000,619570,...,3,NO,60320,9280,9280,41760,Chevrolet,Tahoe,2012,YES

In [ ]:
df["incident_state"].unique()
# Los estados son: 'SC', 'VA', 'NY', 'OH', 'WV', 'NC', 'PA'
# Que sus nombres son: 'South Carolina', 'Virginia', 'New York', 'Ohio', 'West Virginia', 'North Carolina', 'Pennsylvania'

array(['SC', 'VA', 'NY', 'OH', 'WV', 'NC', 'PA'], dtype=object)

In [22]:
min_date = df["incident_date"].min()
max_date = df["incident_date"].max()
print(f"Min date: {min_date}")
print(f"Max date: {max_date}")

Min date: 2015-01-01
Max date: 2015-03-01

In [23]:
# Coche que m√°s aparece en los incidentes
df["auto_make"].value_counts()

auto_make
Saab          80
Dodge         80
Suburu        80
Nissan        78
Chevrolet     76
Ford          72
BMW           72
Toyota        70
Audi          69
Accura        68
Volkswagen    68
Jeep          67
Mercedes      65
Honda         55
Name: count, dtype: int64